main {
  background-color: white;
  width: 60%;
  margin: 0px auto;
  
}


body { 
  background-color: transparent;
}

form{
    padding: 5%;
    margin: 15% auto;
    box-shadow: 10px 5px 5px #01005f;  
}
.btn{
    justify-content: center;
}

form a{
    text-decoration: none;
    color: white;
}