aside{
    display: flex;
    column-gap: 5pc;
    justify-content: center;
    margin-top: 5pc;
}

.hover-3d img {
    width: 100%; /* Se till att bilden fyller hela behållaren */
    height: 100%;
    object-fit: cover; /* Ser till att bilden inte sträcks */
}

main{
    margin: 5% auto;
    display: flex;
    column-gap: 50px;
    justify-content: center;
    text-shadow: 7px 8px 13px #01005f;
}
main p {
    text-align: center;
    font-size: 20px;
    width: 100%;
}
.p-4{
 text-align: center;   
}

.size-10{
    margin: auto;
}
.list{
    padding: 32px;
    box-shadow: 7px 3px 3px  #01005f;
}

.score{
   padding: 0 20px;
}
.join-item{
    height: 40px;
    margin: auto 0;
    width: 5%;
    background-color: black;
    color: aliceblue;
    border-radius: 30% 40%;
}

